<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <form id="contactForm">            
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" name="name" id="name" type="text" placeholder="Your Name *"
                            required />
                        <div class="invalid-feedback">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" id="email" type="email" placeholder="Your Email *"
                            required />
                        <div class="invalid-feedback">An email is required.</div>
                        <div class="invalid-feedback">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <input class="form-control" name="phone" id="phone" type="tel" maxlength="16"
                            placeholder="Your Phone (11) 9 9999-1234*" required />
                        <div class="invalid-feedback">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" name="message" id="message" placeholder="Your Message *"
                            required></textarea>
                        <div class="invalid-feedback">A message is required.</div>
                    </div>
                </div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Seu email foi enviado. <br>Logo entraremos em contato!</div>
                </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Houve um erro ao enviar o email!</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send
                    Message</button>
            </div>
        </form>
    </div>
</section>